.mirror-layout {
    transform: scaleX(-1);
  }

.mirror-text {
    transform: scaleX(-1);
    direction: rtl; /* Optional: Adjust text direction for better readability */
  }

.mirror-player{
    transform: scaleY(-1);
  }

  