<!DOCTYPE html>
<html lang="en">
  <body class="font-sans bg-white">
    <div class="flex items-center justify-center h-screen">
      <div class="w-full max-w-md p-6">
        <div class="text-center mb-8">
          <h1 class="text-4xl font-bold text-gray-900">Spieler festlegen</h1>
        </div>

        <form class="text-center">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
            <div>
              <label
                class="block text-sm font-bold mb-2 text-blue-500"
                for="team1Player1"
                >Team 1 Player 1</label
              >
              <input
                class="appearance-none w-full bg-gray-100 rounded py-4 px-5 mb-4 text-lg"
                id="team1Player1"
                name="team1Player1"
                type="text"
                placeholder="Hans"
                required
                [(ngModel)]="team1Player1"
              />
            </div>
            <div>
              <label
                class="block text-sm font-bold mb-2 text-blue-500"
                for="team1Player2"
                >Team 1 Player 2</label
              >
              <input
                class="appearance-none w-full bg-gray-100 rounded py-4 px-5 mb-4 text-lg"
                id="team1Player2"
                name="team1Player2"
                type="text"
                placeholder="Jane"
                required
                [(ngModel)]="team1Player2"
              />
            </div>
            <div>
              <label
                class="block text-sm font-bold mb-2 text-green-500"
                for="team2Player1"
                >Team 2 Player 1</label
              >
              <input
                class="appearance-none w-full bg-gray-100 rounded py-4 px-5 mb-4 text-lg"
                id="team2Player1"
                name="team2Player1"
                type="text"
                placeholder="Doe"
                required
                [(ngModel)]="team2Player1"
              />
            </div>
            <div>
              <label
                class="block text-sm font-bold mb-2 text-green-500"
                for="team2Player2"
                >Team 2 Player 2</label
              >
              <input
                class="appearance-none w-full bg-gray-100 rounded py-4 px-5 mb-4 text-lg"
                id="team2Player2"
                name="team2Player2"
                type="text"
                placeholder="Peter"
                required
                [(ngModel)]="team2Player2"
              />
            </div>
          </div>

          <div class="mb-6">
            <p class="text-sm font-bold mb-2 text-gray-600">
              Wähle aus, welches Team den Aufschlag beginnen soll:
            </p>
            <div class="flex justify-center">
              <button
                (click)="startGame('Team 1')"
                class="bg-blue-500 text-white py-3 px-6 rounded-full mr-4 text-lg"
              >
                Team 1
              </button>
              <button
                (click)="startGame('Team 2')"
                class="bg-green-500 text-white py-3 px-6 rounded-full text-lg"
              >
                Team 2
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
